[Unit]
Description=Prometheus Alertmanager
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ claude_user }}
ExecStart=/usr/local/bin/alertmanager \
  --config.file=/etc/alertmanager/alertmanager.yml \
  --storage.path=/var/lib/alertmanager \
  --web.listen-address=:{{ alertmanager_port }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
