[Unit]
Description=Prometheus Monitoring System
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ claude_user }}
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus \
  --storage.tsdb.retention.time={{ prometheus_retention }} \
  --web.listen-address=:{{ prometheus_port }} \
  --storage.tsdb.wal-compression
Restart=always
RestartSec=10
MemoryLimit={{ prometheus_memory_limit }}

[Install]
WantedBy=multi-user.target
